main {
  width: 1080px;
  height: 800px;
  margin: 0 auto;
}

.logoImg {
  /* width: 183px; */
  height: 174px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login {
  display: flex;
  justify-content: center;
}
.userName {
  height: 70px;
  width: 530px;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 10px;
  font-size: 28px;
  padding-left: 20px;
  /* margin-left: 270px; */
  margin-top: 50px;
}

.pass {
  height: 70px;
  width: 530px;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 10px;
  font-size: 28px;
  padding-left: 20px;
  /* margin-left: 270px; */
  margin-top: 30px;
}
.Btn {
  display: flex;
  justify-content: center;
}
.loginBtn {
  height: 70px;
  width: 530px;
  border-radius: 50px;
  background-color: #b8dba3;
  text-align: center;
  line-height: 70px;
  margin-top: 50px;
  font-size: 25px;
  color: #fff;
}
.Btn a {
  text-decoration: none;
}
